<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Trivia Game</title>

</head>

<body id="game" class="d-flex flex-column justify-content-between"></div>
    <!-- FONDO -->
    <%= require('html-loader!./../partials/fondo.html').default %>

    <div id="main" class="container text-center">
        <div id="area-pregunta">

            <!-- <div class="loader"></div> -->
            <%= require('html-loader!./partials/loader.html').default %>

        </div>

        <div class="row pt-2 mx-auto">
            <div class="col-2 d-flex flex-column justify-content-around align-items-center mx-auto"
                id="seccion-random-izquierda">
                <div class="img-random">
                    <img class="img-fluid rounded"  alt="">
                </div>
                <div class="img-random">
                    <img class="img-fluid rounded"  alt="">
                </div>
                <div class="img-random">
                    <img class="img-fluid rounded"  alt="">
                </div>
                <div class="img-random">
                    <img class="img-fluid rounded"  alt="">
                </div>
            </div>
            <div id="pista" class="col-6 m-auto text-center">
                <img class="img-thumbnail">
            </div>
            <div class="col-2 d-flex flex-column justify-content-around align-items-center mx-auto"
                id="seccion-random-derecha">
                <div class="img-random">
                    <img class="img-fluid rounded"  alt="">
                </div>
                <div class="img-random">
                    <img class="img-fluid rounded"  alt="">
                </div>
                <div class="img-random">
                    <img class="img-fluid rounded"  alt="">
                </div>
                <div class="img-random">
                    <img class="img-fluid rounded"  alt="">
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="d-flex justify-content-around">
                <div id="progreso-0" class="icono-pregunta"></div>
                <div id="progreso-1" class="icono-pregunta"></div>
                <div id="progreso-2" class="icono-pregunta"></div>
                <div id="progreso-3" class="icono-pregunta"></div>
                <div id="progreso-4" class="icono-pregunta"></div>
                <div id="progreso-5" class="icono-pregunta"></div>
                <div id="progreso-6" class="icono-pregunta"></div>
                <div id="progreso-7" class="icono-pregunta"></div>
            </div>
        </div>
    </div>


</body>

</html>