body {
  background-color: #b6d3ff;
  min-width: 360px;
}

.img-random {
  width: 4rem;
  height: 4rem;
  background-color: gray;
  outline: 1px solid black;
}

.btn-block {
  display: block;
  min-width: 100%;
}
select {
  text-align: center;
  text-align-last: center;
}
