body {
  background-color: rgb(182, 211, 255);
  min-width: 360px;
}

.icono-pregunta {
  width: 2rem;
  height: 2rem;
  background-color: green;
  border-radius: 50%;
}

.img-random {
  width: 4rem;
  height: 4rem;
  background-color: gray;
  outline: 1px solid black;
}

.btn-block {
  display: block;
  min-width: 100%;
}
select {
  text-align: center;
  text-align-last: center;
}
