#hexagons {
  pointer-events: auto;
  z-index: -1;
  overflow: hidden;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  min-height: 420px;
  border: 0 solid rgb(32, 33, 61);
  margin-bottom: 0;
  background: hsla(0,0%,100%,0);
/*     color: #676767; */
  
  background: linear-gradient(to right, rgb(26, 5, 29) 0%, rgb(50, 38, 104) 41%, rgb(74, 0, 117) 100%);
  background-size: 400% 100%;
  background-position: 0 0;
  background-clip: content-box;
  -webkit-animation: g 10s linear infinite;
  animation: bgc 10s linear infinite;
}


@keyframes bgc {
0% {   background-position: 0 0; }
50% {  background-position: 100% 0; }
100% { background-position: 0 0; }
}
svg {
  height: 100vh;
}
.hexagon {
  fill: rgba(255,255,255,0);
  -webkit-transition: fill 3000ms linear;
  -moz-transition: fill 3000ms linear;
  -o-transition: fill 3000ms linear;
  -ms-transition: fill 3000ms linear;
  transition: fill 3000ms linear;
}

.hexagon:hover {
  fill: rgba(13, 199, 255, 0.863);
  -webkit-transition: fill 1000ms linear;
  -moz-transition: fill 1000ms linear;
  -o-transition: fill 1000ms linear;
  -ms-transition: fill 1000ms linear;
  transition: fill 1000ms linear;
}

