#index {    
    .img-random {
      width: 4rem;
      height: 4rem;
      background-color: gray;
      outline: 1px solid black;
    }
    
    .btn-block {
      display: block;
      min-width: 100%;
    }
    select {
      text-align: center;
      text-align-last: center;
    }
    
    .icono-pregunta {
      width: 4rem;
      height: 4rem;
      background-color: rgb(48, 214, 123);
      outline: 1px solid black;
    }  
  }