<div class="row">
    <div class="col-6 offset-3">
        <h1 id="categoria" class="text-center">
            
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-8 offset-2">
        <p id="pregunta" class="text-center"> </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div id="respuesta-1" class="btn btn-info btn-block m-1"></div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div id="respuesta-2" class="btn btn-info btn-block m-1"></div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div id="respuesta-3" class="btn btn-info btn-block m-1"></div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div id="respuesta-4" class="btn btn-info btn-block m-1"></div>
    </div>
</div>