<div id="avatarSelector" class="carousel slide col-md-6 mx-auto" data-bs-ride="carousel" data-bs-interval="false">
    <div id="avatar" class="carousel-inner">
        <div value="1" class="carousel-item" style="height: 150px">
            <div class="sprite-1 mx-auto scale-50"></div>
        </div>
        <div value="2" class="carousel-item" style="height: 150px">
            <div class="sprite-2 mx-auto scale-50"></div>
        </div>
        <div value="3" class="carousel-item" style="height: 150px">
            <div class="sprite-3 mx-auto scale-50"></div>
        </div>
        <div value="4" class="carousel-item" style="height: 150px">
            <div class="sprite-4 mx-auto scale-50"></div>
        </div>
        <div value="5" class="carousel-item" style="height: 150px">
            <div class="sprite-5 mx-auto scale-50"></div>
        </div>
        <div value="6" class="carousel-item active" style="height: 150px">
            <div class="sprite-6 mx-auto scale-50"></div>
        </div>
        <div value="7" class="carousel-item" style="height: 150px">
            <div class="sprite-7 mx-auto scale-50"></div>
        </div>
        <div value="8" class="carousel-item" style="height: 150px">
            <div class="sprite-8 mx-auto scale-50"></div>
        </div>
        <div value="9" class="carousel-item" style="height: 150px">
            <div class="sprite-9 mx-auto scale-50"></div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#avatarSelector" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#avatarSelector" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>