<div class="row">
    <div class="col-md-6 mx-auto">
        <h3 id='nombre'>Nombre</h3>
    </div>
</div>
<div class="row" style="height: 150px">

    <div class="col-md-6 mx-auto" style="height: 150px">
        <div id="avatar" class="mx-auto scale-50"></div>
    </div>
</div>



<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="medallero d-flex mx-auto  justify-content-center">
        </div>
        <h4 id="dificultad">3</h4>
        <button id="jugar" class="mt-2 btn btn-primary">Jugar</button>
        <button id="editar" class="mt-2 btn btn-primary">Editar</button>
    </div>
</div>