@import "./styles/variables.less";
@import "./styles/index.less";
@import "./game/styles/game.less";
@import "./about/styles/about.less";
@import "./styles/nav.less";
@import "./styles/footer.less";

html {
  color: hsl(202, 20%, 92%);
  height: 100%;
}

body {
  background-color: #0b0031;
  min-height: 100%;
  min-width: 360px;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 800px;
}