@import "./loader.less";

#game {
  background-color: #31a2e4;
  color: #fff;

  #hexagons {
    //filter: blur(2px)
  }

  #main {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2em;
    backdrop-filter: blur(4px);
  }

  .btn-block {
    display: block;
    min-width: 100%;
  }
  .icono-pregunta {
    margin: 1rem auto;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: rgb(173, 204, 216);
  }
  #pista img {
    max-height: 16em;
  }

  .img-random {
    width: 4rem;
    height: 4rem;
  }

  .pass {
    background-color: rgb(79, 216, 0);
  }
  .fail {
    background-color: rgb(182, 0, 0);
  }
}
